body {
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #131a2d;
    user-select: none;
}

h1 {
    font-size: 6rem;
    color: #f4f4f4;
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
            drop-shadow(0 0 10px rgba(137, 177, 255, 0.4));
    margin-top: 0;
    margin-bottom: 2px;
    transition: letter-spacing 0.1s ease, transform 0.1s ease, filter 0.1s ease;
    animation: glowPulse 4s infinite alternate;
}

h1:hover {
    letter-spacing: 1rem;
    transform: scale(1.2);
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
            drop-shadow(0 0 10px rgba(137, 177, 255, 0.6));
}

@keyframes glowPulse {
    0% {
        filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
                drop-shadow(0 0 10px rgba(137, 177, 255, 0.2));
    }
    50% {
        filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
                drop-shadow(0 0 20px rgba(137, 177, 255, 0.6));
    }
    100% {
        filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
                drop-shadow(0 0 10px rgba(137, 177, 255, 0.4));
    }
}

#clock {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 4rem;
    color: #ffffff;
    transition: letter-spacing 0.1s ease, transform 0.1s ease, filter 0.1s ease;
}

#clock:hover {
    letter-spacing: 0.2rem;
    transform: scale(1.2);
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
            drop-shadow(0 0 10px rgba(137, 177, 255, 0.6));
}

.info {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 4rem;
    color: #ffffff;
    transition: transform 0.1s ease, filter 0.1s ease;
}

.info:hover {
    transform: scale(1.1);
    filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)) 
            drop-shadow(0 0 10px rgba(137, 177, 255, 0.6));
}

#search {
    width: 600px;
    height: 80px;
    margin-top: 0;
    margin-bottom: 60px;
    display: inline-flex;
    border: solid;
    border-width: 4px;
    border-color: #ffffff;
    border-radius: 30px;
    overflow: hidden;
}

#search input {
    padding-left: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    outline: none;
    border: none;
    border-right: solid;
    border-width: 4px;
    color: #ffffff;
    background-color: #232323;
    width: 100%;
    height: 100%;
}

#search button {
    font-size: 2.4rem;
    height: 100%;
    aspect-ratio: 1/1;
    background-color: #232323;
    outline: none;
    border: none;
    cursor: pointer;
}

#apps {
    display: flex;
    gap: 40px;
}

#apps img {
    height: 160px;
    object-fit: contain;
    border-radius: 30px;
    cursor: pointer;
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5));
    transition: transform 0.1s, filter 0.1s ease;
}

#apps img:hover {
    transform: scale(1.1);
    filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.5))
            drop-shadow(0 0 15px rgba(137, 177, 255, 0.6));
}